DEV_MODE = True
BOT_TOKEN = "<tg-bot-token>"
TELEGRAM_SECRET_TOKEN = "<tg-api-secret-token>"
YANDEX_OAUTH_CLIENT_ID = "<oauth-client-id>"
YANDEX_OAUTH_CLIENT_SECRET = "<oauth-client-secret>"
PRIVILEGED_USER_LOGIN = "<username>"
